<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>PDF</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.css">
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>

</head>

<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
